@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #0e0e0e;
    color: #fefefe;
    text-align: center;    
}
header{
    height: 40px;
    width: 100%;
    text-align: center;
    margin: 50px auto 0px;
}
    header h1 {
        font-size: 38px;
    }
.divisor {
    margin: 15px auto 15px;
    width: 1000px;
    height: 3px;
    border-radius: 33%;
    background-color: #fefefe;
}
main {
    margin: 0 auto;    
    width: 100%;
    height: fit-content;
}
main p {
    height: 22px;
    width: 1000px;
    margin: 5px auto 0;
    text-align: center;
}
    #container-personagens {
        display: flex;
        flex-wrap: wrap;
        width: 1200px;
        height: fit-content;
        row-gap: 10px;
        margin: 0 auto;
    }
        .cartao-personagem {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 220px;
            width: 600px;
        }
        .photo {
            width: 220px;
            height: 220px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }
        .cartao-personagem h3 {
            width: 380px;
            height: 33px;
            font-size: 28px;
            font-weight: bolder;
            text-align: left;
            padding-left: 10px;
            margin: 0;
        }
        .cartao-personagem span {
            width: 380px;
            height: 23px;
            text-align: left;
            padding-left: 10px;
        }        
        .cartao-label {
            color: grey;
            margin-top: 33px;
        }
